<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="./static/mywebscript.js"></script>
    <style>
        .center-heading {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="card">
        <div class="card-body">
            <h1 class="center-heading">NLP - Spanish School Subject Detection</h1> 
            <div style="padding: 15px 15px 15px 15px;">
            <h2 class="mb-3">
                <label class="form-label" style="font-weight: normal; font-size: 1.1rem;">Please enter the text to be analyzed, to determine to which of the following school subjects it corresponds:</label>
                <ul class="instruction-text" style="font-weight: normal; font-size: 1.1rem;">
                    <li>Matemáticas (Math)</li>
                    <li>Física y Química (Physics and Chemistry)</li>
                    <li>Geografía (Geography)</li>
                    <li>Historia (History)</li>
                    <li>Idiomas extranjeros (Foreign languages)</li>
                    <li>Artes (Arts)</li>
                    <li>Educación física (PE)</li>
                    <li>Lengua y literatura (Literature)</li>
                    <li>Religión (Religion)</li>
                    <li>Frase no relacionada con asignaturas (Text not related to school subjects)</li>
                </ul>
                <input type="textarea" class="form-control" id="textToAnalyze">
            </h2>

            <div style="padding: 7px 7px 7px 7px;">
                <button onclick="RunSchoolSubjectAnalysis()" class="btn btn-secondary">Run School Subject Analysis</button>
            </div>
            <div style="padding: 10px 10px 10px 10px;"></div>
            <div class="d-flex align-items-center" style="padding: 10px;">
                <label class="form-label mb-0" style="font-size: 1.25rem; font-weight: bold;">
                    Result of School Subject Detection:
                </label>
                <div id="system_response" class="ml-3 px-3 py-2 border rounded" style="min-width: 300px; font-size: 1.25rem;"></div>
            </div>
        </div>
    </div>
</body>
